/* Base */

.blog-card:hover {
    transition-duration: 1s;
    transform: scale(1.1);
    position:initial;
    z-index:1;
    background:#fff;
}

#pageEndLogo:hover {
    transition-duration: 1s;
    transform: scale(1.2);
    position:initial;
    z-index:1;
}

.nav-item:hover {
    background-color: white;
}
