html {
  max-width: 100vw;
  scroll-behavior: smooth;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Trending Carousel */

.swiper-pagination-bullet-active {
  background-color: #123C69 !important;
}

.swiper-slide figcaption {
  position: absolute;
  bottom:0vh;
  color: #AC3B61;
  background-color: #EDC7B7;
  display: flex;
  justify-content: center;
  /*left: 50%;*/
  /*transform: translate3d(-50%, 0, 0);*/
  padding: 3vh 3vh 2vh 3vh;
}

/* Video Section */

#video-section-right {
  display: flex;
  justify-content: center; 
  align-items: center;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

[data-inviewport="appear-left"] {
}

[data-inviewport="appear-left"].is-inViewport { 
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

@media (max-width: 767px) {
  #video-section-right {
    display: none;
  }
}

/* What makes us special */

.what-makes-us-special-image {
  width: 120px;
  height: 120px;
}

[data-inviewport="scale-in"] {
  transition: 1.5s;
  transform: scale(0.1);
}

[data-inviewport="scale-in"].is-inViewport {
  transform: scale(1);
}

@media (max-width: 532px) {
  .what-makes-us-special {
    height: 60vh;
  }
}

@media (max-width: 450px) {
  .what-makes-us-special-image {
    width: 40px;
    height: 40px;
  }
  .what-makes-us-special {
    font-size: 15px;
  }
}

/* Browse Flavours */

[data-inviewport="scale-in-fast"] {
  transition: 0.75s;
  transform: scale(0.1);
}

[data-inviewport="scale-in-fast"].is-inViewport {
  transform: scale(1);
}

.flavour-image {
  height: 120px;
  width: 120px;
}

@media (max-width: 600px) {
  .flavour-image {
    height: 80px;
    width: 80px;
  }
}

@media (max-width: 450px) {
  .flavour-image {
    height: 60px;
    width: 60px;
  }
}

@media (max-width: 350px) {
  .flavour-image {
    height: 40px;
    width: 40px;
  }
}

.wsk-cp-product{
  background:#fff;
  padding:15px;
  border-radius:6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  position:relative;
  margin:20px auto;
}

.wsk-cp-img {
  position:absolute;
  top:5px;
  left:50%;
  transform:translate(-50%);
  -webkit-transform:translate(-50%);
  -ms-transform:translate(-50%);
  -moz-transform:translate(-50%);
  -o-transform:translate(-50%);
  -khtml-transform:translate(-50%);
  width: 100%;
  padding: 15px;
  transition: all 0.2s ease-in-out;
}
.wsk-cp-img img{
  width:100%;
  transition: all 0.2s ease-in-out;
  border-radius:6px;
}
.wsk-cp-product:hover .wsk-cp-img{
  top:-40px;
}
.wsk-cp-product:hover .wsk-cp-img img{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.wsk-cp-text{
  padding-top: 70%;
}
.wsk-cp-text .title-product{
  text-align:center;
}
.wsk-cp-text .title-product h3{
  font-size:20px;
  font-weight:bold;
  margin:15px auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width:100%;
}
.wsk-cp-text .description-prod p{
  margin:0;
}

.wsk-cp-text .description-prod {
  text-align:center;
  width: 100%;
  height:62px;
  overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  margin-bottom:15px;
}
.card-footer{
  padding: 25px 0 5px;
  border-top: 1px solid #ddd;
}
.card-footer:after, .card-footer:before{
  content:'';
  display:table;
}
.card-footer:after{
  clear:both;
}

.card-footer .wcf-left{
  float:left;
  
}

.card-footer .wcf-right{
  float:right;
}

.price{
  font-size:18px;
  font-weight:bold;
}

a.buy-btn{
  display:block;
  color:#212121;
  text-align:center;
  font-size: 18px;
  width:35px;
  height:35px;
  line-height:35px;
  border-radius:50%;
  border:1px solid #212121;
  transition: all 0.2s ease-in-out;
}
a.buy-btn:hover , a.buy-btn:active, a.buy-btn:focus{
  border-color: #FF9800;
  background: #FF9800;
  color: #fff;
  text-decoration:none;
}
.wsk-btn{
  display:inline-block;
  color:#212121;
  text-align:center;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
  border-color: #FF9800;
  background: #FF9800;
  padding:12px 30px;
  border-radius:27px;
  margin: 0 5px;
}
.wsk-btn:hover, .wsk-btn:focus, .wsk-btn:active{
  text-decoration:none;
  color:#fff;
}  
.red{
  color:#F44336;
  font-size:22px;
  display:inline-block;
  margin: 0 5px;
}

@media screen and (max-width: 991px) {
  .wsk-cp-product{
    margin:40px auto;
  }
  .wsk-cp-product .wsk-cp-img{
  top:-40px;
}
.wsk-cp-product .wsk-cp-img img{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
a.buy-btn{
  border-color: #FF9800;
  background: #FF9800;
  color: #fff;
}
}

/*@media screen and (max-width: 461px) {
  .flavour-button {
    height: 60px;
    width: 60px;
  }
  .flavour-button {
    width: 100%;
    height: auto;
  }
}
*/

/* Reviews Swiper */

.swiper-2 {
  height: 60vh;
}

.swiper-2-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Section */
@media (max-width: 532px) {
  .subscribe-section {
    height: 60vh;
  }
}

/* Flavour Icons */

::-webkit-scrollbar {
  /* Webkit */
  width: 0;
  height: 0;
}

.hs {
   display: flex;
   overflow-x: scroll;
   justify-content: space-between;
   scrollbar-width: none;
  /* Firefox */
   -ms-overflow-style: none;
  /* IE 10+ */
   -webkit-overflow-scrolling: touch;
   margin: 0 -20px;
}
 .hs__header {
   display: flex;
   align-items: center;
   width: 100%;
}


 .hs__headline {
   flex: 1;
}
 .hs__arrows {
   align-self: center;
}
 .hs__arrows .arrow:before {
   content: '';
   display: inline-block;
   vertical-align: middle;
   content: "";
   background-color: black;
   background-size: contain;
   filter: brightness(5);
   width: 18px;
   height: 12px;
   cursor: pointer;
}
 .hs__arrows .arrow.disabled:before {
   filter: brightness(2);
}
 .hs__arrows .arrow.arrow-prev:before {
   transform: rotate(90deg);
   margin-right: 10px;
}
 .hs__arrows .arrow.arrow-next:before {
   transform: rotate(-90deg);
}
 .hs__item {
   flex-grow: 1;
   flex-shrink: 0;
   flex-basis: calc(100% / 4 - (10px * 2) - (20px / 4));
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   position: relative;
   user-select: none;
}
 @media only screen and (max-width: 990px) {
   .hs__item {
     flex-basis: calc(100% / 3 - (10px * 2) - (20px / 3));
  }
}
 .hs__item:last-child:after {
   content: "";
   display: block;
   position: absolute;
   width: 10px;
   height: 1px;
   right: calc(10px * 2 * -1);
}
 .hs__item:first-child {
   margin-left: calc(10px * 2);
}
 .hs__item__description {
   z-index: 1;
   margin: 10px 0;
   font-weight: bold;
   font-size: large;
}

 .hs__item__image__wrapper {
   position: relative;
   width: 80%;
   height: 0;
   padding-bottom: 100%;
   background-color: #45322E;
   border-radius: 40%;
   display: inline-block;

}
.hs__item__image__wrapper:hover {
transform: scale(1.05);

}
  .hs__item__image {
    position: absolute;
    margin-left: 18%;
    margin-top: 18%;
    width: 60%;
    height: 60%;
    object-fit: cover;
    align-items: center; 
    overflow: hidden; 
}

.hs__item__image img {
  max-width: 100%;
  transition: all 0.3s;
  display: block;
  width: 100%;
  height: auto;
  transform: scale(1);
}


.hs__item__image :hover img {

transform: scale(1.1);
}

@media only screen and (min-width: 990px) {
  .hs__wrapper {
    overflow: hidden;
  }
}

 @media (hover: none) and (pointer: coarse) {
   .hs__wrapper .hs__arrows {
     display: none;
  }
   .hs__wrapper .hs__item {
     flex: 1 0 calc(23% - 10px * 2);
  }
}

 @media only screen and (hover: none) and (pointer: coarse) and (max-width: 990px) {
   .hs__wrapper .hs__item {
     flex: 1 0 calc(45% - 10px * 2);
  }
}

/* Base Styling */
.description {
   max-width: 990px;
   color: #212121;
   margin: 0 auto;
   padding: calc(10px * 4);
}
/*  
STRAWBERRY */
.hs__item__image__wrapper2 {
  position: relative;
  width: 80%;
  height: 0;
  padding-bottom: 100%;
  background-color: #fc5a8d;
  border-radius: 40%;
  display: inline-block;

}
 .hs__item__image2 {
   pointer-events: none;
   position: absolute;
   margin-left: 24%;
   margin-top: 24%;
   width: 50%;
   height: 50%;
   object-fit: cover;
   align-items: center;
   
}
.hs__item__image__wrapper2:hover {
  transform: scale(1.1);
  
  }
/* VANILLA */
.hs__item__image__wrapper3 {
  position: relative;
  width: 80%;
  height: 0;
  padding-bottom: 100%;
  background-color: #F3E5AB;
  border-radius: 40%;
  display: inline-block;

}
.hs__item__image__wrapper3:hover {
  transform: scale(1.1);
  
  }
 .hs__item__image3 {
   pointer-events: none;
   position: absolute;
   margin-left: 18%;
   margin-top: 18%;
   width: 60%;
   height: 60%;
   object-fit: cover;
   align-items: center;
}

/* COFFE */
.hs__item__image__wrapper4 {
  position: relative;
  width: 80%;
  height: 0;
  padding-bottom: 100%;
  background-color: #6F4E37;
  border-radius: 40%;
  display: inline-block;

}
.hs__item__image__wrapper4:hover {
  transform: scale(1.1);
  
  }
 .hs__item__image4 {
   pointer-events: none;
   position: absolute;
   margin-left: 18%;
   margin-top: 18%;
   width: 60%;
   height: 60%;
   object-fit: cover;
   align-items: center;
}

/* APPLE  */
.hs__item__image__wrapper5 {
  position: relative;
  width: 80%;
  height: 0;
  padding-bottom: 100%;
  background-color: #FF0800;
  border-radius: 40%;
  display: inline-block;

}
.hs__item__image__wrapper5:hover {
  transform: scale(1.1);
  
  }
 .hs__item__image5 {
   pointer-events: none;
   position: absolute;
   margin-left: 18%;
   margin-top: 18%;
   width: 60%;
   height: 60%;
   object-fit: cover;
   align-items: center;
}

/* ESPRESSO */
.hs__item__image__wrapper6 {
  position: relative;
  width: 80%;
  height: 0;
  padding-bottom: 100%;
  background-color:  #3C2218;
  border-radius: 40%;
  display: inline-block;

}
.hs__item__image__wrapper6:hover {
  transform: scale(1.1);
  
  }
 .hs__item__image6 {
   pointer-events: none;
   position: absolute;
   margin-left: 18%;
   margin-top: 18%;
   width: 60%;
   height: 60%;
   object-fit: cover;
   align-items: center;
   
}
/* 
MINT */
.hs__item__image__wrapper7 {
  position: relative;
  width: 80%;
  height: 0;
  padding-bottom: 100%;
  background-color: #3EB489;
  border-radius: 40%;
  display: inline-block;

}
.hs__item__image__wrapper7:hover {
  transform: scale(1.1);
  
  }
 .hs__item__image7 {
   pointer-events: none;
   position: absolute;
   margin-left: 18%;
   margin-top: 18%;
   width: 60%;
   height: 60%;
   object-fit: cover;
   align-items: center;
}

/* LITCHI */
.hs__item__image__wrapper8 {
  position: relative;
  width: 80%;
  height: 0;
  padding-bottom: 100%;
  background-color: #Dc5349;
  border-radius: 40%;
  display: inline-block;

}
.hs__item__image__wrapper8:hover {
  transform: scale(1.1);
  
  }
 .hs__item__image8 {
   pointer-events: none;
   position: absolute;
   margin-left: 18%;
   margin-top: 18%;
   width: 60%;
   height: 60%;
   object-fit: cover;
   align-items: center;
}


/* COCONUT */
.hs__item__image__wrapper9 {
  position: relative;
  width: 80%;
  height: 0;
  padding-bottom: 100%;
  background-color: #965a3e;
  border-radius: 40%;
  display: inline-block;

}
.hs__item__image__wrapper9:hover {
  transform: scale(1.1);
  
  }
 .hs__item__image9 {
   pointer-events: none;
   position: absolute;
   margin-left: 18%;
   margin-top: 18%;
   width: 60%;
   height: 60%;
   object-fit: cover;
   align-items: center;
}


/* GREEN APPLE */
.hs__item__image__wrapper10 {
  position: relative;
  width: 80%;
  height: 0;
  padding-bottom: 100%;
  background-color:#8db600;
  border-radius: 40%;
  display: inline-block;

}
.hs__item__image__wrapper10:hover {
  transform: scale(1.1);
  
  }
 .hs__item__image10 {
   pointer-events: none;
   position: absolute;
   margin-left: 18%;
   margin-top: 18%;
   width: 60%;
   height: 60%;
   object-fit: cover;
   align-items: center;
}

/* HAZLENUT */

.hs__item__image__wrapper11 {
  position: relative;
  width: 80%;
  height: 0;
  padding-bottom: 100%;
  background-color: #ae9f80;
  border-radius: 40%;
   display: inline-block;
}
.hs__item__image__wrapper11:hover {
  transform: scale(1.1);
  
  }
 .hs__item__image11 {
   pointer-events: none;
   position: absolute;
   margin-left: 18%;
   margin-top: 18%;
   width: 60%;
   height: 60%;
   object-fit: cover;
   align-items: center;
 }
.nav-item:hover {
    background-color: white;
}

#pageEndLogo:hover {
  transition-duration: 1s;
  transform: scale(1.2);
  position:initial;
  z-index:1;
}














