@import url('https://fonts.googleapis.com/css?family=Poppins:wght@500;600;700');
   *{
   border-radius: 0px ! important;
   border: 0px ! important;
  }


  body {
    margin: 0;
    min-height: 100vh;
    background: #fafafa;
  }
  
  

  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
 
    background-color: lightblue;
  }
  
  .right {
    right: 0;

    background-color:lightcoral;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .centered img {
    width: 150px;
    border-radius: 50%;
  }

  .card {
   
    background-color: rgba(0, 0, 0, 0.2);
}

  .social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
  }
  
  .social-link:hover,
  .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
  }
  
  .progress {
    height: 10px;
  }